/* Buttons */
.submit-btn {
    background: #039682;
    color: white;
    border-radius: 30px;
    padding: 12px 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(7, 116, 101, 0.3);
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Social icons */
.social-icons a {
    font-size: 28px;
    margin-right: 15px;
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.social-icons a:hover {
    color: #0F2027;
    transform: translateY(-3px);
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}

/*background*/
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg,
            #072f2e 0%,
            #0a4446 25%,
            #06584d 50%,
            #066456 75%,
            #0b3e3b 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f3f0eb;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 120vw;
    height: 120vh;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 100 100' fill='%23c2a98d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 0C43 15 30 15 30 30c0 10 10 10 10 20s-10 10-10 20c0 15 13 15 20 30 7-15 20-15 20-30 0-10-10-10-10-20s10-10 10-20c0-15-13-15-20-30z' opacity='0.1'/%3E%3C/svg%3E");

    background-repeat: repeat;
    opacity: 0.7;
    animation: floatRings 90s linear infinite;
    z-index: -1;
    pointer-events: none;
}

@keyframes floatRings {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-300px, -200px) rotate(2deg);
    }
}

h1,
h2,
h4,
.nav-link,
.card-title {
    font-family: "Montserrat", serif;
    color: #039682;
    opacity: 1;
}

h3 {
    font-family: "Montserrat", serif;
    color: #ffffff;
    opacity: 1;
}

h1 {
    font: normal normal 750 45px/30px Montserrat;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

/* Section Spacing */
section {
    padding: 60px 0;
}

/* Smooth Transitions */
* {
    transition: all 0.2s ease;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
